<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jade.dao.DeptInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jade.pojo.DeptInfo" >
    <result column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.jade.pojo.DeptInfo" >
    insert into el_department_info (department_id, department_name)
    values (#{departmentId,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jade.pojo.DeptInfo" >
    insert into el_department_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectDPNameById" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select department_name
  	from el_department_info
  	where department_id = #{typeValue,jdbcType=VARCHAR}
  </select>
</mapper>